.board{
    height: auto;
    background-color: #f4f5f7;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.to-do-item{
    height: 100%;
}

.drop-zone{
    height: 100%;
    width: 100%;
}

.drop-zone-container{
    padding:10px;
    height: 100%;
    width: 100%;
}

.board-title{
    margin:auto;
    width: fit-content;
    color: rgb(137, 137, 137);
}